In [1]:
s='abcdefghi jklmnop'
for x in s:
    print(x)

a
b
c
d
e
f
g
h
i

j
k
l
m
n
o
p

In [2]:
s='abcdefghi jklmnop'
for x in s:
    print(x,end='')

abcdefghi jklmnop

In [4]:
s='abcdefghi jklmnop'
c=0
for x in s:
    c=c+1
    print(x)
print('count of the string:',c)

a
b
c
d
e
f
g
h
i

j
k
l
m
n
o
p
count of the string: 17

In [9]:
s='abcdefg hijklmnop'
c=0
for x in s:
    c=c+1
    print(x,end='')
print('count of the string',c)

abcdefg hijklmnopcount of the string 17

In [10]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [12]:
for x in range(21):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [15]:
for x in range(21):
    if x%2==0:
        print(x)

0
2
4
6
8
10
12
14
16
18
20

In [16]:
for x in range(31):
    if x%2!=0:
        print(x, end='')

1357911131517192123252729

In [18]:
for x in range(0,21,2):
    print(x)

0
2
4
6
8
10
12
14
16
18
20

In [19]:
for x in range(1,21,2):
    print(x)

1
3
5
7
9
11
13
15
17
19

In [22]:
for x in range(10,1,-1):
    print(x)

10
9
8
7
6
5
4
3
2

In [23]:
for x in range(10,1,-1):
    if x%2==0:
        print(x)

10
8
6
4
2

In [24]:
for x in range(10,0,-1):
    if x%2!=0:
        print(x)

9
7
5
3
1

In [29]:
s=eval(input('enter the list'))
sum=0
for x in s:
    sum=sum+x
print(sum)

enter the list[10,20,30]
60

In [30]:
s=eval(input('enter the tuple'))
sum=0
for x in s:
    sum=sum+x
print(sum)

enter the tuple(10,20,30,40)
100

In [31]:
s=eval(input('enter the set'))
sum=0
for x in s:
    sum=sum+x
print(sum)

enter the set{10,20,30,40,50,40}
150

In [32]:
for i in range(4 ):
    for j in range(4):
        print('i={}and j{}'.format(i,j))

i=0and j0
i=0and j1
i=0and j2
i=0and j3
i=1and j0
i=1and j1
i=1and j2
i=1and j3
i=2and j0
i=2and j1
i=2and j2
i=2and j3
i=3and j0
i=3and j1
i=3and j2
i=3and j3

In [33]:
for i in range(4):
    for j in range(4):
        print('i={} and j={}'.format(i,j),end='')

i=0 and j=0i=0 and j=1i=0 and j=2i=0 and j=3i=1 and j=0i=1 and j=1i=1 and j=2i=1 and j=3i=2 and j=0i=2 and j=1i=2 and j=2i=2 and j=3i=3 and j=0i=3 and j=1i=3 and j=2i=3 and j=3

In [34]:
n=5
for i in range(1,n+1):
    print(i)

1
2
3
4
5

In [46]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [48]:
s=['mahi','macha','mabi']
for i in s:
    for j in i:
        if j!='m':
            print(j,end='')

ahiachaabi

In [57]:
s=10
for i in range(1,s+1):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910

In [58]:
x = 10

y = 20

if x == 10:

    x = x + y

print(x)

30

In [59]:
def print_square(x):

    print(x * x)

print_square(10)

100

In [60]:
class Car:

    def __init__(self, color, model):

        self.color = color

        self.model = model

    

    def get_color(self):

        return self.color

 

my_car = Car("red", "sedan")

print(my_car.get_color())

red

In [61]:
my_dict = {"a": 1, "b": 2, "c": 3}

my_set = set(my_dict.keys())

my_set.add("d")

print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [62]:
x = 10

if x < 20:

    print("x is less than 20")

else:

    print("x is greater than or equal to 20")

x is less than 20

In [63]:
i = 1

while i < 5:

    print(i)

    i = i + 1

1
2
3
4

In [67]:
def encrypt_message(message):
    message = message.lower()
    encrypted_message = ""
    for char in message:
        if char == " ":
            encrypted_message += "$"
        elif char.isalpha():
            encrypted_message += chr(ord('a') + (ord('z') - ord(char)))
        else:
            encrypted_message += char
    return encrypted_message

input_sentence = "I want to become a Data Scientist."
encrypted_message = encrypt_message(input_sentence)
print(encrypted_message)

r$dzmg$gl$yvxlnv$z$wzgz$hxrvmgrhg.

In [69]:
def flatten_list_product(lst):
    flat_list = []
    for item in lst:
        if isinstance(item, (int, float)):
            flat_list.append(item)
        elif isinstance(item, (tuple, list)):
            flat_list += flatten_list_product(item)
        elif isinstance(item, dict):
            for key, value in item.items():
                if isinstance(key, (int, float)):
                    flat_list.append(key)
                if isinstance(value, (int, float)):
                    flat_list.append(value)
                elif isinstance(value, (tuple, list, dict)):
                    flat_list += flatten_list_product(value)
    return flat_list if len(flat_list) > 0 else [1]

list1 = [1, 2, 3, 4, [44, 55, 66, True], False, (34, 56, 78, 89, 34), {1, 2, 3, 3, 2, 1}, {1: 34, "key2": [55, 67, 78, 89], 4: (45, 22, 61, 34)}, [56, 'data science'], 'Machine Learning']

product = 1
for item in flatten_list_product(list1):
    product *= item

print(product)

0

In [65]:
def en_msg(message):
    message=message.lower()
    en_msg=''
    for char in message:
        if char=="":
            en_msg+="$"
        elif char.isaplpha():
            en_msg+=chr(ord('a')+(ord('z')-ord(char)))
        else:
            en_msg+=char
    return en_msg
inp="I want to become a Data Analyst"
en_msg=en_msg(inp)
print(en_msg)

AttributeError: 'str' object has no attribute 'isaplpha'