# Pandas_Series & DataFrames

Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
df=pd.Series([4,8,15,16,23,42])
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
type(df)

pandas.core.series.Series

Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [4]:
List=[1,2,3,4,5,6,7,8,9,10]
list_series=pd.Series([List])

In [5]:
list_series

0    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
dtype: object

In [6]:
print(type(list_series))

<class 'pandas.core.series.Series'>

In [8]:
# create a data frame example
import pandas as pd
data = {
    'Name': ['Alice','Bob', 'clarie'],
    'Age': [25, 30, 27],
    'Gender': ['male','female','male']
}

In [10]:
df=pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25    male
1     Bob   30  female
2  clarie   27    male

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types, whereas a Pandas Series is a one-dimensional labeled array capable of holding data of any type.

A Pandas DataFrame is like a spreadsheet or SQL table, with rows and columns, while a Pandas Series is like a single column in a spreadsheet or SQL table. In other words, a Pandas Series is a single column of data, while a Pandas DataFrame is a collection of columns, each of which can contain a different type of data.

Here is an example that demonstrates the difference between a Pandas DataFrame and a Pandas Series:

In [11]:
import pandas as pd

# Creating a dictionary with some sample data
data = {
    'Name': ['John', 'Mary', 'Bob', 'Alice'],
    'Age': [25, 30, 20, 35],
    'Country': ['USA', 'Canada', 'USA', 'Australia']
}

# Creating a data frame from the dictionary
df = pd.DataFrame(data)

# Creating a series from the 'Name' column of the data frame
name_series = df['Name']

# Printing the data frame and the series
print("Data Frame:")
print(df)

print("\nName Series:")
print(name_series)

Data Frame:
    Name  Age    Country
0   John   25        USA
1   Mary   30     Canada
2    Bob   20        USA
3  Alice   35  Australia

Name Series:
0     John
1     Mary
2      Bob
3    Alice
Name: Name, dtype: object

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas DataFrame provides a wide range of functions for data manipulation, here are some common functions that you can use to manipulate data in a Pandas DataFrame:

head() and tail() - These functions are used to view the top or bottom N rows of a DataFrame.

describe() - This function provides a summary of the statistical properties of the DataFrame, such as count, mean, standard deviation, minimum, and maximum values.

loc[] and iloc[] - These functions are used to access a particular row or column in the DataFrame. loc[] is used to access a row or column by label, while iloc[] is used to access a row or column by integer index.

drop() - This function is used to remove rows or columns from the DataFrame.

fillna() - This function is used to replace missing values in the DataFrame with a specified value.

groupby() - This function is used to group the rows of the DataFrame based on one or more columns, and then perform some operation on each group.

merge() - This function is used to combine two or more DataFrames based on a common column.

sort_values() - This function is used to sort the rows of the DataFrame based on one or more columns.

In [12]:
import pandas as pd

# Creating a dictionary with some sample data
data = {
    'Name': ['John', 'Mary', 'Bob', 'Alice', 'John', 'Bob'],
    'Age': [25, 30, 20, 35, 40, 22],
    'Country': ['USA', 'Canada', 'USA', 'Australia', 'USA', 'Canada']
}

# Creating a data frame from the dictionary
df = pd.DataFrame(data)

# Grouping the rows by 'Country' and calculating the mean age for each group
grouped = df.groupby('Country')['Age'].mean()

# Printing the grouped data
print(grouped)

Country
Australia    35.000000
Canada       26.000000
USA          28.333333
Name: Age, dtype: float64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In pandas, the Series and DataFrame objects are mutable in nature, while the Panel object is deprecated and has been removed from pandas version 1.0.0 onwards.

Mutable means that the objects can be changed after they are created. For example, you can add, delete, or modify elements in a Series or DataFrame object.

In [13]:
import pandas as pd

# Creating a dictionary with some sample data
data = {
    'Name': ['John', 'Mary', 'Bob', 'Alice'],
    'Age': [25, 30, 20, 35],
    'Country': ['USA', 'Canada', 'USA', 'Australia']
}

# Creating a data frame from the dictionary
df = pd.DataFrame(data)

# Modifying the 'Country' column
df['Country'] = ['USA', 'Canada', 'Mexico', 'Australia']

# Printing the modified data frame
print(df)

    Name  Age    Country
0   John   25        USA
1   Mary   30     Canada
2    Bob   20     Mexico
3  Alice   35  Australia

Q7. Create a DataFrame using multiple Series. Explain with an example.

In Pandas, you can create a DataFrame using multiple Series. A Series is essentially a one-dimensional array with labels, and combining multiple Series creates a DataFrame with each Series as a separate column

In [14]:
import pandas as pd

# Creating a Series of names
names = pd.Series(['John', 'Mary', 'Bob', 'Alice'])

# Creating a Series of ages
ages = pd.Series([25, 30, 20, 35])

# Creating a Series of countries
countries = pd.Series(['USA', 'Canada', 'USA', 'Australia'])

# Creating a DataFrame from the three Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'Country': countries})

# Printing the DataFrame
print(df)

    Name  Age    Country
0   John   25        USA
1   Mary   30     Canada
2    Bob   20        USA
3  Alice   35  Australia